.美食 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 4562px;
    z-index: 362;
}
.约58_人_约124_人_约28_人_约68_人 {
    font-size: 14px;
    font-family: "Adobe Heiti Std";
    color: rgb(186, 186, 186);
    line-height: 1.857;
    text-align: right;
    -moz-transform: scale(1.006, 1);
    -webkit-transform: scale(1.006, 1);
    -ms-transform: scale(1.006, 1);
    position: absolute;
    left: 1073.303px;
    top: 4003.29px;
    z-index: 361;
}
.阿古顿巴藏餐厅_顿尼亚餐厅_酒吧（DUNYA）_伊兰朵冰淇淋餐厅_布达拉宫山洞甜茶馆 {
    font-size: 14px;
    font-family: "Adobe Heiti Std";
    color: rgb(0, 0, 0);
    line-height: 1.857;
    -moz-transform: scale(1.006, 1);
    -webkit-transform: scale(1.006, 1);
    -ms-transform: scale(1.006, 1);
    position: absolute;
    left: 824.655px;
    top: 4003.44px;
    z-index: 360;
}
.如果你在阳光如瀑的午后来到玛吉阿米，攀爬上三层，从顶楼平台俯瞰古老的八廓街______[查看详情] {
    font-size: 12px;
    font-family: "Adobe Heiti Std";
    color: rgb(150, 150, 150);
    line-height: 1.5;
    -moz-transform: scale(1.006, 1);
    -webkit-transform: scale(1.006, 1);
    -ms-transform: scale(1.006, 1);
    position: absolute;
    left: 949.332px;
    top: 3927.649px;
    width: 178.609px;
    height: 48.291px;
    z-index: 359;
}
.玛吉阿米餐厅 {
    font-size: 14px;
    font-family: "Adobe Heiti Std";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    -moz-transform: scale(1.006, 1);
    -webkit-transform: scale(1.006, 1);
    -ms-transform: scale(1.006, 1);
    position: absolute;
    left: 948.894px;
    top: 3886.849px;
    z-index: 358;
}
.更多 {
    font-size: 12px;
    font-family: "Adobe Heiti Std";
    color: rgb(210, 210, 210);
    line-height: 2.4;
    position: absolute;
    left: 1106.379px;
    top: 3885.159px;
    z-index: 357;
}
.组_14（合并）_拷贝 {
    background-image: url("组 14（合并） 拷贝.png");
    position: absolute;
    left: 825px;
    top: 3853px;
    width: 305px;
    height: 1px;
    z-index: 356;
}
.美食 {
    font-size: 18px;
    font-family: "Adobe Heiti Std";
    color: rgb(240, 131, 0);
    line-height: 1.6;
    position: absolute;
    left: 855.734px;
    top: 3885.208px;
    z-index: 355;
}
.形状_34 {
    background-color: rgb(240, 131, 0);
    position: absolute;
    left: 824px;
    top: 3862px;
    width: 22px;
    height: 18px;
    z-index: 354;
}
.图层_95 {
    background-image: url("图层 95.png");
    position: absolute;
    left: 825px;
    top: 3889px;
    width: 114px;
    height: 80px;
    z-index: 353;
}
.矩形_28_拷贝 {
    background-color: rgb(235, 129, 108);
    position: absolute;
    left: 825px;
    top: 3889px;
    width: 114px;
    height: 80px;
    z-index: 352;
}
